//colors
$color-dark-blue: hsl(240, 38%, 20%);
$color-grey-blue: hsl(240, 18%, 77%);

//media queries
$bp-large: 75em; // 1200px
$bp-xlarge: 90em; //1440px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px

  @media only screen and (min-width: $bp-large) {
    font-size: 87.5%; //14px
  }
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  position: relative;

  min-height: 100vh;
  margin: auto;


  padding: 3rem;

  background-image: url("../images/pattern-curve.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

  @media only screen and (min-width: $bp-large) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
  }

  @media only screen and (min-width: $bp-xlarge) {
    width: 1440px;

  }
}

.carousel {
  display: none;

  @media only screen and (min-width: $bp-large) {
    grid-template-columns: 1fr 1fr;
  }
}

//fade animation
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
