.header {
  position: relative;

  background-image: url("../images/pattern-bg.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;

  display: grid;

  padding: 3rem;
  font-weight: inherit;

  &__picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    width: 80%;
    margin: 3rem auto;
    margin-bottom: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 2rem (rgba(#000, 0.4));
  }

  &__btn {
    align-self: center;
    justify-self: center;

    transform: translateY(-50%);

    border: none;
    border-radius: 6rem;
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: 0 0.5rem 2rem (rgba(#000, 0.4));

    display: flex;
    gap: 3rem;

    &-icon {
      cursor: pointer;
    }
  }

  &__content {
    text-align: center;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      background: url("../images/pattern-quotes.svg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: contain;

      width: 100%;
      height: 5rem;

      position: absolute;
      top: 2%;
      right: 0;
    }
  }
}
