.header {
  position: relative;

  background-image: url("../images/pattern-bg.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;

  display: grid;

  padding: 3rem;
  font-weight: inherit;

  @media only screen and (min-width: $bp-large) {
    padding: 3rem 7rem;

    background-position: 90%;
    background-size: 50%;
  }

  &__picture {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (min-width: $bp-large) {
      grid-column: 2/ -1;
    }
  }

  &__img {
    width: 90%;
    margin: 1rem auto;
    margin-bottom: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 2rem (rgba(#000, 0.4));
  }

  &__btn {
    align-self: center;
    justify-self: center;

    transform: translateY(-50%);

    border: none;
    border-radius: 6rem;
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: 0 0.5rem 2rem (rgba(#000, 0.4));

    display: flex;
    gap: 3rem;

    &:active {
      outline: none;
    }

    @media only screen and (min-width: $bp-large) {
      align-self: flex-start;
      margin-left: 5rem;
    }

    &-icon {
      cursor: pointer;
    }
  }

  &__content {
    text-align: center;
    position: relative;

    @media only screen and (min-width: $bp-large) {
      grid-column: 1/ 2;
      grid-row: 1/2;

      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: left;
    }

    &::before {
      content: "";
      display: inline-block;
      background: url("../images/pattern-quotes.svg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: contain;

      width: 100%;
      height: 5rem;

      position: absolute;
      top: 2%;
      right: 0;
    }
  }
}

.flexbox-detail {
  @media only screen and (min-width: $bp-large) {
    display: flex;
    gap: 1rem;
  }
}
