*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (min-width: 75em) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  position: relative;
  min-height: 100vh;
  margin: auto;
  padding: 3rem;
  background-image: url("../images/pattern-curve.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media only screen and (min-width: 75em) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
}

@media only screen and (min-width: 90em) {
  body {
    width: 1440px;
  }
}

.carousel {
  display: none;
}

@media only screen and (min-width: 75em) {
  .carousel {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.heading-1 {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 3rem 0;
}

@media only screen and (min-width: 75em) {
  .heading-1 {
    font-size: 2.5rem;
    width: 115%;
  }
}

.description {
  color: #babacf;
  font-size: 1.5rem;
}

.header {
  position: relative;
  background-image: url("../images/pattern-bg.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  padding: 3rem;
  font-weight: inherit;
}

@media only screen and (min-width: 75em) {
  .header {
    padding: 3rem 7rem;
    background-position: 90%;
    background-size: 50%;
  }
}

.header__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 75em) {
  .header__picture {
    grid-column: 2/ -1;
  }
}

.header__img {
  width: 90%;
  margin: 1rem auto;
  margin-bottom: 0;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
}

.header__btn {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  border-radius: 6rem;
  padding: 1rem 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.header__btn-icon {
  cursor: pointer;
}

.header__content {
  text-align: center;
  position: relative;
}

@media only screen and (min-width: 75em) {
  .header__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
}

.header__content::before {
  content: "";
  display: inline-block;
  background: url("../images/pattern-quotes.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 2%;
  right: 0;
}

@media only screen and (min-width: 75em) {
  .flexbox-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */